<!-- <img src="D:\Coding\Moody\src\assets"></img> -->
<!-- <style>
        .grid{
            width: {{sideLength}};
	        height: {{sideLength}};
        }
</style> -->

<div class="main-container parent-div">
    <div class="grid-container child-div" [ngStyle]="{ 'width': dashboardWidth + 'px', 'height': dashboardHeight + 'px' }">
        <div *ngFor="let panel of panels" id="{{panel.id}}" class="grid"  [ngStyle]="{ 'width': sideLength + 'px', 'height': sideLength + 'px',
        'left': panel.left + 'px', 'top': panel.top + 'px', 'background-color': panel.colour }" 
        draggable="true" (dragstart)="onDragStart(panel)" (dragover)="onDragOver(panel)"
        (dragend)="onDragEnd()" (drop)="onDragDrop(panel)" (click)="setRandomColor(panel)" >
        {{panel.id}} {{panel.left}} {{panel.top}}
        </div>
    </div> 
</div>

<!-- DEBUGGING -->
{{selectedPanel.id}}
{{dragStatus}}
{{dragging ? 'True' : 'False'}}

<!-- OLD TESTS -->
<!-- <div *ngFor="let panel of dashboard" [ngStyle]="{ 'width': sideLength + 'px', 'height': sideLength + 'px', 'border-radius': '4px', 'display': 'block', 'border': '1px solid #4E4E4E', 'margin': '4px', 'display': 'inline-flex' }"></div> -->
<!-- <div *ngFor="let panel of dashboard" (click)="setColor(panel, panel.colour)" [ngStyle]="{ 'width': sideLength + 'px', 'height': sideLength + 'px'}" class="grid"></div> -->
<!-- <div class="grid" *ngFor="let panel of dashboard">{{panel.content}}</div> -->
<!-- <div class="grid" [ngStyle]="{ 'width': sideLength + 'px', 'height': sideLength + 'px' }" *ngFor="let panel of dashboard">{{panel.content}}</div> -->
